<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FenixExecutable" value="FenixSystem" />
    <add key="logFilePath" value="Fenix2GSX.log" />
    <add key="logLevel" value="Debug" />
    <add key="testArrival" value="false" />
    <add key="waitForConnect" value="true" />
    <add key="gsxVolumeControl" value="true" />
    <add key="vhf1VolumeApp" value="vPilot" />
    <add key="disableCrew" value="true" />
    <add key="repositionPlane" value="true" />
    <add key="repositionDelay" value="3" />
    <add key="autoConnect" value="true" />
    <add key="operatorDelay" value="10" />
    <add key="connectPCA" value="true" />
    <add key="pcaOnlyJetway" value="true" />
    <add key="autoRefuel" value="true" />
    <add key="callCatering" value="true" />
    <add key="autoBoarding" value="true" />
    <add key="autoDeboarding" value="true" />
    <add key="refuelRate" value="28" />
    <add key="refuelUnit" value="KGS" />
  </appSettings>
</configuration>